[*.{fs,fsx}]
indent_size=4
max_line_length=100
end_of_line=crlf
insert_final_newline=true
fsharp_max_if_then_else_short_width=70
fsharp_max_infix_operator_expression=70
fsharp_max_record_width=70
fsharp_record_multiline_formatter=character_width
fsharp_max_array_or_list_width=70
fsharp_array_or_list_multiline_formatter=character_width
fsharp_max_value_binding_width=70
fsharp_max_function_binding_width=70
fsharp_max_dot_get_expression_width=70
fsharp_max_elmish_width=70